@use '../../styles/partials/variables' as *;

@keyframes roundtime {
    to {
      /* More performant than animating `width` */
        // transform: scaleX(0);
        width: 0;
        background-color: $red;
    }
}

.timerbar {
    height: 1rem;
    width: 90%;
    background-color: $vanilla;
    border-radius: 0.5rem;
    padding: 0.1rem;

    &__remaining {
        height: 100%;
        width: 100%;
        border-radius: 0.5rem;
        background-color: $green;
        // background: linear-gradient(to bottom, red, #900);
        transform-origin: left center;

        &--1 {
            animation: roundtime calc(15s) linear forwards;
        }

        &--2 {
            animation: roundtime calc(30s) linear forwards;
        }

        &--3 {
            animation: roundtime calc(45s) linear forwards;
        }
    }
}

// https://getbootstrap.com/docs/4.0/components/progress/
// https://codepen.io/benarson/pen/gMpOyX