@use './_variables.scss' as *;

@keyframes barRunOut {
    // to {
    //     width: 0;
    //     // transform: scaleX(0);
    //     background-color: $red;
        
    // }

    0% {width: 100%; background-color: $green;}
    25% {width: 75%; background-color: $yellow;}
    65% {width: 35%; background-color: $yellow-dark;}
    85% {width: 15%; background-color: $red;}
    100% {width: 0; background-color: $red;}
}

@keyframes shakeWrongCake {
    0% {transform: translateX(0);}
    25% {transform: translateX(-1rem);}
    50% {transform: translateX(1rem);}
    75% {transform: translateX(-1rem);}
    100% {transform: translateX(0);}
}

@keyframes warningText {
    0% {transform: scale(1); color: $chocolate;}
    25% {transform: scale(1.25); color: $red;}
    50% {transform: scale(1.25); color: $red;}
    100% {transform: scale(1); color: $chocolate;}
}

@keyframes scoringText {
    0% {transform: scale(1); color: $chocolate;}
    25% {transform: scale(1.25); color: $green;}
    50% {transform: scale(1.25); color: $green;}
    100% {transform: scale(1); color: $chocolate;}
}

@keyframes popBigger {
    0% {transform: scale(1);}
    25% {transform: scale(1.1);}
    100% {transform: scale(1.1);}
}

@keyframes popBiggerLogo {
    0% {transform: scale(1);}
    25% {transform: scale(1.05);}
    50% {transform: scale(1);}
    75% {transform: scale(1.05);}
    100% {transform: scale(1);}
}

@keyframes stirWhisk {
    0% {rotate: 15deg; }
    50% {rotate: 25deg;}
    100% {rotate: 15deg;}
}