// colours
$chocolate: #482a12;
$chocolate-light: #845d37;
$strawberry: #b27260;
$strawberry-light: #df9e8b;
$vanilla: #f2e4d3;
$vanilla-dark: #e4c9a8;

$wood: #a38668;
$wood-light: #b9a28a;
$plate: #ffffff;
$bkgd: #e8cdc1;

$green: #008000;
$green-yellow: #698000;
$yellow: #c5b615;
$orange: #ff8000;
$red: #ff0000;