@use '../../styles/partials/variables' as *;
@use '../../styles/partials/_mixins.scss' as *;

.cake {
    // position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 250px;
    height: 10rem;
    // margin-top: -70px;
    // margin-left: -125px;
    // margin: 1rem;
}

.plate {
    width: 300px;
    height: 110px;
    position: absolute;
    bottom: -15px;
    left: -25px;
    background-color: $plate;
    border-radius: 50%;
    box-shadow:
        0 2px 0 darken($plate, 10%),
        0 4px 0 darken($plate, 10%),
        0 5px 40px rgba(black, 0.3);
}

.big-cake {
    height: 20rem; // 320px * 150% = 480px in the end
    transform: scale(150%) translateY(25%);
}

.small-cake {
    height: 10rem;
    transform: scale(50%) translateY(25%);
}