@use './styles/partials/_global.scss' as *;
@use './styles/partials/_variables.scss' as *;
@use './styles/partials/_mixins.scss' as *;

.app {
    @include flexCenter;

    &__window {
        display: flex;
        justify-content: center;
        align-items: start;
        flex: 1 0;
    }
}