@use './styles/partials/_global.scss' as *;
@use './styles/partials/_variables.scss' as *;
@use './styles/partials/_mixins.scss' as *;

.app {
    display: flex;
    justify-content: center;
    align-items: center;

    &__window {
        display: flex;
        flex: 1 0;
        justify-content: center;
        align-items: start;
        // @include stretchScreen;
    }
}