.main {
    // display: flex;
    display: grid;
    grid-template-columns: 25% 50% 25%;
    grid-template-rows: 34% 66%;
    flex-direction: column;
    justify-content: center;

    &__orders {
        display: flex;
        grid-column: 1 / 3; // second # non-inclusive because partitions not sections
        grid-row: 1 / 2;
        justify-self: flex-start;
        align-self:center;
    }

    &__build {
        display: flex;
        justify-content: center;
        height: 30rem;
        grid-column: 2 / 3; // second # non-inclusive because partitions not sections
        grid-row: 2 / 3;
    }

    &__edit {
        display: flex;
        justify-self: center;
        flex-direction: column;
        grid-column: 3 / 4;
        grid-row: 1 / -1;
        justify-content: center;
    }

    &__icon {
        max-width: 5rem;
        &:hover {
            opacity: 50%;
            cursor: pointer;
        }
    }

    &__icon-wrapper {
        max-width: 5rem;
    }
}