@use '../../styles/partials/_variables.scss' as *;
@use '../../styles/partials/_animations.scss' as *;
@use '../../styles/partials/_mixins.scss' as *;

.main {
    display: grid;
    // grid-template-columns: 30% 40% 30%;
    grid-template-columns: 25% 5% 40% 5% 25%;
    grid-template-rows: 34% 66%;
    flex-direction: column;
    justify-content: center;
    // animation: slideCard 3s ease;
    // padding: 2rem;
    // width: 90vw;

    &__wrapper {
        @include stretchScreen;
        overflow: hidden;
        position: absolute;
    }

    &__orders {
        display: flex;
        grid-column: 1 / 4;
        grid-row: 1 / 2;
        justify-self: flex-start;
        align-self:center;
    }

    &__build {
        display: flex;
        justify-content: center;
        height: 30rem;
        grid-column: 3 / 4;
        grid-row: 2 / 3;
    }

    &__edit {
        display: flex;
        justify-self: center;
        flex-direction: column;
        grid-column: 5 / 6;
        grid-row: 1 / -1;
        justify-content: center;
        align-items: center;
    }

    &__info {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 2rem;
        margin-bottom: 3rem;
    }

    &__icon {
        max-width: 5rem;
        position: absolute;
        bottom: 5rem;

        &:hover {
            animation: popBigger 1s both;
            cursor: url('/src/assets/images/handpointer.png') 16 16, auto;
        }
    }

    &__icon-wrapper {
        max-width: 5rem;

        &--submit {
            grid-column: 4 / 5;
            grid-row: 2 / 3;
        }

        &--trash {
            grid-column: 2 / 3;
            grid-row: 2 / 3;
        }
    }

    &__score {
        font-size: 4rem;
    }

    &__image {
        position: absolute;

        &--folder {
            left: -50rem;
            bottom: -65rem;
            scale: 0.2;
            rotate: -25deg;
            cursor: url('/src/assets/images/handpointer.png') 16 16, auto;
            
            &:hover {
                animation: popBigger 1s ease;
                animation-fill-mode: forwards;
            }
        }
    }
}

.score-text {
    animation: scoringText 0.5s ease;
}

.warn-text {
    animation: warningText 0.5s ease;
}

.shake-cake {
    animation: shakeWrongCake 0.35s ease;
}