.main {
    display: flex;
    flex-direction: column;
    justify-content: center;

    &__orders {
        display: flex;
    }

    &__build {
        display: flex;
        justify-content: center;
        height: 30rem;
    }
}