@use '../../styles/partials/variables' as *;

.modal {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: $strawberry-light;
    width: 60%;
    border-radius: 2rem;
    padding: 1rem;
}