@use '../../styles/partials/variables' as *;
@use '../../styles/partials/_animations.scss' as *;

.nameform {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &__input {
        height: 4rem;
        width: 25rem;
        padding: 1rem;
        border-radius: 1rem;
        font-size: 2rem;
        background-color: $vanilla;
        margin-bottom: 1rem;

        &:hover, &:focus{
            animation: popBigger 1s ease;
            animation-fill-mode: forwards;
        }
    }
}