@use '../../styles/partials/variables' as *;

.scorecard {
    display: flex;
    width: 80%;
    height: 3rem;
    border-radius: 2rem;
    justify-content: space-between;
    padding: 0 1rem;
    align-items: center;
    font-size: 2rem;
    margin: 1rem;

    & > div {
        flex: 1 0;
        display: flex;
        justify-content: space-around;
    }

    & > div:nth-child(1) {
        justify-content: start;
    }

    & > div:nth-last-child(1) {
        justify-content: end;
    }

    &--pink {
        background-color: $strawberry-light;
    }

    &--brown {
        background-color: $chocolate-light;
        color: $vanilla;
    }

    &--cream {
        background-color: $vanilla;
    }
}
